.box{
    justify-content: space-between;
    }
.box :hover{
    background-color: blueviolet !important;
}
.boxing{
    background-color: white;
}
.boxrow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}
@media only screen and (min-width : 300px) and (max-device-width : 768px){
    .box{
        margin: 10px !important;
        }
        .boxrow{
            margin: 20px !important;
        }
}
